.information__list {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 320px;
    list-style-type: none;
    margin: auto;
    margin-top: 18px;
    padding: 30px;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 690px) {
    .information__list {
        width: 70%;
    }
}

.information__item {
    width: 100%;
    max-height: 64px;
    border-bottom: 1px solid rgba(142, 142, 147, 1);
    padding: 9px 16px;
}

.information__title {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.15px;
    color: rgba(8, 31, 50, 1);
}

.information__description {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.25px;
    color: rgba(110, 121, 140, 1);
}